@charset "utf-8";
/* CSS Document */
	body {
		width: 70%;
		height: auto;
		min-height: 100%;
		margin: 0 auto;		
		padding: 0;
		background: #999999
	}
			
	#htmlPage {
		position: relative;
		height: auto;
		min-height: 100vh;
		background-color: #ff3333/*#b3b3ff*/;
		overflow: hidden;
	}
	
	#login {
		margin: 1%;
		text-align: right;
		background-color: #efefef;
		padding: 0.5em 0;
	}
	#header {
		background: #efefef;
		padding:1px;
		margin: 1%;
		height: 300px;
	}

	#titleImage {
		padding-left: 3%;
		padding-top: 3%;
	}
	
	#title {
		float: right;
		padding-top: 8%;
		padding-right: 30%;
		font-size:250%;
		font-family: impact;
	}
	
	#motto {
		float: rigjht;
		padding-left: 30%;
		font-size: 180%;
		font-family: Georgia;
		color: #000099;
	}
	
	
	#nav {
		margin: 1%;
		text-align: center;
		font-size: 130%;
		background-color: #efefef;
		padding: 0.5em 0;
	}
	
	#content {
		height: 100%;
		overflow: auto;
		padding: 10px;
		padding-bottom: 3em;   /* Height of the footer */  
	}
		
	#footer {
		position: absolute;
		margin: auto;
		bottom: 0;
		width: 100%;
		height: 3em;	
		text-align: center;
	}
	
	#listingDisplay {
		background-color: #efefef;
	}
	
	/* unvisited link */
	a:link {
		color: blue;
	}

	/* visited link */
	a:visited {
		color: green;
	}

	/* mouse over link */
	a:hover {
		color: yellow;
	}

	/* selected link */
	a:active {
		color: red;
	}
	
	p.intro, p.location, p.welcome {
		font-size: 140%;
		font-family: arial;	
		border-radius: 20px;	
		width: 43%;		
		margin: 1%;
		background-color: #efefef;
		border-spacing: 20px 50px;
		padding: 10px;
		box-shadow: 10px 10px 5px #888888;
	}		

	p.intro, p.welcome {
		float: left;
		font-size: 140%;
	}
	p.location {
		float: right;
		font-size: 140%;
	}
	
	.allForms, #msgForm , #searchForm, #createAccForm {
		font-size: 110%;
		font-family: arial;	
		border-radius: 20px;	
		float: left;
		margin: 1%;
		background-color: #efefef;
		border-spacing: 20px 50px;
		padding: 10px;
	}
	
	.allForms {
		width: 50%;
	}
	
	#msgForm  {
		width: 60%;
	}
	
	#searchForm, #createAccForm{
		width: 70%;
	}
	
	#fNameErrorMsg, #lNameErrorMsg, #emailErrorMsg, #addressErrorMsg,#phoneErrorMsg, #unErrorMsg, #pwErrorMsg, #cnfrmPasswordErrorMsg, #typeErrorMsg, #makeErrorMsg, #modelErrorMsg, #yearErrorMsg, #priceErrorMsg,
	#fnErrorMsg, #invalidCredsErrorMsg, #lnErrorMsg, #subjectErrorMsg, #msgErrorMsg, #selectStatErrorMsg, #yearErrorMsg, #priceErorMsg, #loginFailedMsg
	{
		color: red;
		font-size: 70%;
	}
	
	#txtarea {
		width: 100%;
		height: 150%;
	}
	
	select {
        width:130px;
    }
	
	#fieldTitle {
		float: left;
		width: 8em;
		margin-right: 1em;
	}
	
	#priceTitle {
		float: left;
		width: 6em;
		margin-right: 2.13em;
	}
	
	#dollarSign {
		float: right;
		width: 1em;
		margin-right: 1em;
	}
			
	#imageSlide {
		position: relative;
		float:left;
		border-radius: 20px;	
		width: 43%;	
		height: 250px; 	
		margin: 1%;
		border-spacing: 20px 50px;
		border: 10px solid #1a1a1a;
		background: #000000;
		color: white;
	}
	
	.imageSize {
		max-height: 100%;
		height: auto;
        max-width: 100%;
		width: auto;
	}
	
	#listingDisplay { 
		width: 50%;
		border:1px solid;
	}
	
	#displayImg {
		max-width: 300px;
		width:auto;
		height:auto;
	}

		
		



	
